@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
}



.coordonnees_container img, .timeline img, .passions_container img, .langues_container img{
    border-radius: 5px;
}



.intro{
    position: absolute;
    top: 350px; 
    left: 0;
    width: 100%;  
}


.image-cv{
    background-image: url(../images/cv-picture.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 40vh;
    width: 100%;   
}


body{
    position: relative;
    background-color: #0f0d13;
}

main{
    padding: 0 10px;
    display: flex;
    flex-direction: column; /* Mobile first : affichage en colonne */
    gap: 20px;
}
article, aside{
    margin-top: 30px;
}
h1{
    font-family: "Montserrat", serif;
    font-size: 40px;
    
}

h2{
    padding-bottom: 15px;
    font-size: 20px;
}

.hidden{
    display: none;
}

.info_text{
    padding-bottom: 15px;
    color: #B9B9B9;
}

li {
    list-style: none;
    padding-bottom: 10px;
    max-width: 500px;
}
li, p{
    font-size: 14px;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
}
.logo_deezer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    
}

.logo_deezer path{
    fill: white;
}

.experience_container{
    background-color: #1B191F ;
    overflow: hidden;  /* permet de contenir l'img dans le background */
    display: flex;
    align-items: center;
}

.coordonnees_container{
    overflow: hidden;
}


.experience_container img, .coordonnees_container img {
    float: left;
    margin-right: 15px;
}

.competences_container img{
    border-radius: 50%;
}

.passions_container ul, .langues_container ul, .competences_container ul{
    display: flex;
    justify-content: baseline;
    gap: 5px;
}

.competences_container li p:nth-of-type(2), .langues_container li p:nth-of-type(2), .coordonnees_container ol li:nth-of-type(2){
    font-size: 14px;
    color: #B9B9B9;
}
.timeline {
    list-style: none; 
    padding-left: 0;
}


.timeline li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.timeline li img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

/******** inf à 430px *************/

@media (max-width:430px) {
    
    .passions_container, .langues_container, .competences_container{
        overflow: auto;
        
    }
    .container_song {
        display: none;
    }
    
    .sidebar{
        display: none;
    }
    
    .search_bar{
        display: none;
    }
    
    /***** burger menu */
    
    #menuToggle {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2;
        user-select: none;
    }
    
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
    }
    
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background:  white;
        border-radius: 3px;
        transition: 0.5s ease-in-out;
    }
    
    #menuToggle input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    #menuToggle input:checked ~ span:nth-child(3) {
        opacity: 0;
    }
    
    #menuToggle input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
    
    .sidenav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background:#1B191F;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    
    .sidenav li {
        margin: 20px 0;
    }
    
    .sidenav a {
        color: white;
        font-size: 24px;
        text-decoration: none;
    }
    
    #menuToggle input:checked ~ .sidenav {
        transform: translateX(0);
    }
}

/******** sup à 430px *************/

@media (min-width:430px){
    .timeline, .coordonnees_container{
        background-color: #1B191F;
        padding: 16px;
    }
    
    .sidenav{
        display: none;
    }
    
    .info_text{
        display: none;
    }
    
    .intro{
        position: absolute;
        top: 100px;
        left: 500px;
        
    }
    
    main{
        margin-left: 200px;
    }
    
    .home_icon a::before{
        content: url(/images/home.svg);
        display: inline-block;
        padding-right: 5px;
        vertical-align: middle;
        font-weight: 900;
    }
    
    .explorer_icon a::before{
        content: url(/images/boussole.svg);
        display: inline-block;
        padding-right: 5px;
        vertical-align: middle;
        font-weight: 900;
    }
    
    .playlist_icon a::before{
        content: url(/images/playlist.svg);
        display: inline-block;
        padding-right: 5px;
        vertical-align: middle;
        font-weight: 900;
    }
    
    .image-cv {
        width: 278px; /* Taille du cercle */
        height: 278px; /* Taille du cercle */
        border-radius: 50%; /* Rend l'image circulaire */
        background-size: cover;
        background-position: center;
        position: relative;
        left: 200px; /* Ajuste selon ton besoin */
        top: 20px;  /* Ajuste selon ton besoin */
    }
    
    .sidebar {
        height: 100%;
        width: 188px;
        position: fixed;
        top: 0;
        left: 0;
        background-color:#1B191F;
        padding-top: 50px;
        
    }
    
    .sidebar p, .sidebar a{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: white;
        display: block;
    }
    
    .search_bar{
        display: flex;
        justify-content: flex-start; /* Aligné à gauche */
        align-items: center;
        margin-left: 200px;
        padding: 10px;
    }
    
    .input_container {
        position: relative;
        display: flex;
        align-items: center;
        width: 250px; /* Ajuste la largeur selon tes besoins */
        color: white;
    }
    
    .search_icon {
        position: absolute;
        left: 10px; 
        width: 20px;
        height: 20px;
        pointer-events: none; /* Permet de cliquer sur l'input sans être bloqué par le SVG */
    }
    
    #search_btn {
        width: 100%;
        padding: 10px 10px 10px 40px; /* Ajoute du padding à gauche pour éviter que le texte passe sous l'icône */
        border-radius: 5px;
        font-size: 16px;
        outline: none;
    }
    
    .search_icon path{
        stroke: white;
        stroke-width: 4;
        fill: none;
    }
    
    form input{
        background-color: #515050;
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 5px;
        
    }
    
    form button{
        position: absolute;
        top: -999px;
        left: -999px;
        width: 0px;
        height: 0px;
    }
    
    .connexion_container {
        display: flex;
        align-items: center;
        gap: 15px; /* Espacement entre les éléments */
        margin-left: auto; /* Pousse les éléments vers la droite */
    }
    
    .decoration_link{
        text-decoration: underline;
    }
    
    .connexion_btn{
        background-color:  transparent;
        border: 1px solid grey;
        padding: 10px 20px;
        border-radius: 10px;
    }
    
    .inscription_btn {
        background-color: #A238FF;
        border: none;
        padding: 10px 20px;
        border-radius: 10px ;
    }
    
    .langues_container ul, .competences_container ul {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        padding: 0;
        list-style: none;
    }
    
    .langues_container ul li, .competences_container ul li {
        display: flex;
        align-items: center; 
        gap: 15px; 
    }
    
    .langues_container ul li img, .competences_container ul li img {
        width: 40px;
        height: auto;
    }
    
    .language_info , .competences_info {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    .navbar{
        position: relative;
    }

    .sidenav{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .container_song{
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: aqua;
        position: relative;
        z-index: 1;    
    }
    
    .previous_icon path{
        fill: black;       
    }
    
}

/******** entre 430 et 1200px *************/

@media (min-width: 430px) and (max-width: 1200px) {
    .aside_container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }
    
    .aside_container img{
        width: 46px;
        height: 46px;
    }
    
    .langues_container p, .competences_container p{
        display: flex;
        
    }
    
    main{
        margin-left: 150px;
    }
    
    .sidebar{
        height: 100%;
        width: 150px;
        position: fixed;
        top: 0;
        left: 0;
        background-color:#1B191F;
        padding-top: 50px;
    }
}


/******** sup à 1200px *************/

@media (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        max-width: 1200px;
        margin-left: 200px;
        align-items: start;
    }
    
    .articles_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .aside_container {
        display: flex;
        flex-direction: column; 
        gap: 20px;
    }

    .aside_container img{
        width: 46px;
        height: 46px;
    }
}