@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Montserrat:wght@400;700&display=swap');

:root {
    --main-text-color: white;
    --container-color:#1B191F;
    --bkgrd-color:#0f0d13;
    --purple-color: #A238FF; 
    --border-color:#363339;
}


* {
    padding: 0;
    margin: 0;
    color: var(--main-text-color);
    font-family: "Inter", "Arial", sans-serif;
}

.connexion_btn:hover, #search_btn:hover {
        background-color: rgba(255, 255, 255, 0.2); 
  }

  .inscription_btn:hover, .contact_btn_pc:hover {
    background-color: rgba(176, 115, 201, 0.6); 
}

.like_btn, .options_btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
}

.like_btn::after, .options_btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
    z-index: -1;
}

.like_btn:hover::after, .options_btn:hover::after {
    width: 50px;
    height: 50px;
}

p:not(.info_text, .intro p, .sidebar p):hover{
    text-decoration: underline;
      
}

.sidebar ul li:not(.no_hover):hover {
    background-color: var(--border-color); 
}

main{
    position: relative;   
}

time{
    display: inline;
    color: #B9B9B9;  
}

img{
    border-radius: 5px;
}


.image-cv{
    background-image: url(../../images/cv-picture.png);
    background-size: cover;
    height: 35vh;
    width: 100%;   
}

body{
    position: relative;
    background-color: var(--bkgrd-color);
}


article, aside{
    margin-bottom: 30px;
}

h1{
    font-family: "Montserrat", serif;
    font-size: 40px;
}

h2{
    padding-bottom: 15px;
    font-size: 20px;
}

.hidden{
    display: none;
}

li {
    list-style: none;
    padding-bottom: 20px;
    max-width: 500px;
}
li, p{
    font-size: 16px;
    font-weight: 300;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}


.logo_deezer path{
    fill: var(--main-text-color);
}

.experience_container{
    background-color: var(--container-color) ;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}


.experience_container img, .coordonnees_container img {
    float: left;
    margin-right: 15px;
}

.competences_container img{
    border-radius: 50%;
}

.passions_container ul, .langues_container ul, .competences_container ul{
    display: flex;
    justify-content: baseline;
    gap: 5px;
}

.competences_container li p:nth-of-type(2), .langues_container li p:nth-of-type(2), .coordonnees_container ol li:nth-of-type(2){
    color: #B9B9B9;
}


.timeline li {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.timeline li img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.scroll{ 
    opacity:0 ;
    filter: blur(5px);
    transition: opacity 1s, filter 1s;

}

.show{ 
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    
}

@media(prefers-reduced-motion){
    .scroll{
        transition: none;
     }
 }

/******** inf à 430px *************/

@media (max-width:430px) {
    

    .image-cv {
       
        position: sticky;
        top: 0;
        z-index: -2;
    }
   
    
    
    .content-wrapper {
        padding-top: 30px;
        
    }
    
    .main-container{
        padding: 0 10px;
        background-color: var(--bkgrd-color);
        
    }
    
   
    
    .intro{
      
      
        max-width: 400px;
    }
    
    .info_text{
        padding-bottom: 15px;
        color: #B9B9B9;
    }
    
    .logo_deezer{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;
    }
    
    .passions_container, .langues_container, .competences_container{
        overflow: auto;
        
    }
    .contact_container, .music-player, .sidebar, .search_bar, .like_btn, .options_btn, .profile_nav {
        display: none;
    }
    
    .contact_btn_mobile{
        position: absolute;
        top: 10px;
        right: 70px;
        background-color: var(--purple-color);
        border: none;
        padding: 10px 10px;
        border-radius: 7px ;
        z-index: 2;
    }
    
    .experience_container li{
        padding: 5px 0;
        
    }
    
    
    
    
    
    
    /***** burger menu *********************************************/
    .burgermenu{
        position: relative;
    }
    
    #menuToggle {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        user-select: none;
        
    }
    
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 3;
    }
    
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background:  white;
        border-radius: 3px;
        transition: 0.5s ease-in-out;
    }
    
    #menuToggle input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    #menuToggle input:checked ~ span:nth-child(3) {
        opacity: 0;
    }
    
    #menuToggle input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
    
    .sidenav {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background:var(--container-color);
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    
    .sidenav li {
        margin: 20px 0;
    }
    
    .sidenav a {
        font-size: 24px;
        text-decoration: none;
    }
    
    #menuToggle input:checked ~ .sidenav {
        transform: translateX(0);
    }
}

/******** sup à 430px ***************************************************/

@media (min-width:430px){
    
    

    main{
        margin-bottom: 100px;
    }

    .profile_nav a {
        font-size: 16px;
        font-weight: 500;
        
    }
    
    .profile_nav a:hover {
        color: var(--purple-color);   /* Le mauve au survol */
        text-decoration: underline ;  /* Soulignement lors du hover */
    }
    
.music-player {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 15px;
    background: var(--container-color);
    color: var(--main-text-color);
    width: 100%;
    z-index: 100;
    border-top: 1px solid var(--border-color);
}

.music-player path {
    fill: var(--main-text-color);
}

/*******************************************Image + Infos ***************/
.player-left {
    padding-left: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.song-info {
    display: flex;
    flex-direction: column;
}


/********************************Contrôles *****************/
.player-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    gap: 15px;
    margin-bottom: 8px;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--main-text-color);
}

.btn circle{
    fill: var(--purple-color);
}



/************************* Barre de progression *****************************/
.progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;
}

.time-start, .time-end {
    font-size: 12px;
    color: #b3b3b3;
}

.progress-bar {
    flex: 1;
    height: 3px;
    background: var(--border-color);
    margin: 0 10px;
    position: relative;
    border-radius: 5px;
}

.progress {
    width: 60%;
    height: 100%;
    background: var(--purple-color);
    border-radius: 5px;
}


    .content-wrapper {
        padding-top: 30px;
        max-width: 1200px;
        margin: auto;    
    }
    
    .search_bar {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        width: 100%;
    }
    
    .connexion_container {
        display: flex;
        margin-left: auto; 
    }
    
    
    
    .logo_deezer{
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10; 
    }
    
    
    .timeline, .coordonnees_container{
        background-color: var(--container-color);
        padding: 16px;
    }
    
    .sidenav,.info_text,#menuToggle, .contact_btn_mobile  {
        display: none;
    }
    
    .intro{
        position: absolute;
        top: 100px;
        left: 350px;  
        max-width: 300px;
        
    }
    
    .home_icon a::before{
        content: url(/images/home.svg);
        padding-right: 5px;
        vertical-align: middle;
        font-weight: 900;
    }
    
    .explorer_icon a::before{
        content: url(/images/boussole.svg);
        padding-right: 5px;
        vertical-align: middle;
        font-weight: 900;
    }
    
    .playlist_icon a::before{
        content: url(/images/playlist.svg);
        padding-right: 5px;
        vertical-align: middle;
        font-weight: 900;
    }
    
    .image-cv {
        width: 278px;
        height: 278px; 
        border-radius: 50%; 
        background-size: cover;
        background-position: center;
        margin: 20px 0 ;    
    }
    
    .sidebar {
        height: 100%;
        width: 188px;
        position: fixed;
        top: 0;
        left: 0;
        background-color:var(--container-color);
        padding-top: 50px;
        
    }
    
    .sidebar p, .sidebar a{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        display: block;
    }
    
    .search_bar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 10px 10px 30px;
    }
    
    .input_container {
        position: relative;
        display: flex;
        align-items: center;
        width: 250px; 
        
    }
    
    .search_icon {
        position: absolute;
        left: 10px; 
        width: 20px;
        height: 20px;
    }
    
    #search_btn {
        width: 100%;
        padding: 10px 10px 10px 40px; 
        border-radius: 5px;
        outline: none;
    }
    
    .search_icon path{
        stroke: var(--main-text-color);
        stroke-width: 4;
        fill: none;
    }
    
    .options_btn path{ 
        fill: var(--main-text-color);
    }
    
    form input{
        background-color: var(--container-color);
        border: none;
        outline: none;
        padding: 5px;
        border-radius: 5px;
        
    }
    
    form button{
        position: absolute;
        top: -999px;
        left: -999px;
        width: 0px;
        height: 0px;
    }
    
    .connexion_container {
        display: flex;
        align-items: center;
        justify-self: left;
        gap: 15px;
        
    }
    .decoration_link{
        font-weight: 500;
    }
    
    .decoration_link:hover{
        text-decoration: underline;
    }
    
    .connexion_btn{
        background-color:  transparent;
        border: 1px solid var(--border-color);
        padding: 10px 20px;
        border-radius: 10px;
    }
    
    .inscription_btn {
        background-color: var(--purple-color);
        border: none;
        padding: 10px 20px;
        border-radius: 10px ;
    }
    
    .langues_container ul, .competences_container ul {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        padding: 0;
        list-style: none;
    }
    
    .langues_container ul li, .competences_container ul li {
        display: flex;
        align-items: center; 
        gap: 15px; 
    }
    
    .langues_container ul li img, .competences_container ul li img {
        width: 40px;
        height: auto;
    }
    
    .language_info , .competences_info {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    .navbar{
        position: relative;
    }
    
    .sidenav{
        position: absolute;
        top: 0;
        right: 0;
    }
 
    .profile_nav a{
        margin-left: 20px;
        font-weight: 500;
        z-index: 100;
        
    }
    
    .profile_nav {
        margin-top: 20px;
        border-bottom: 1px solid var(--container-color);
    }
    
    .contact_container{
        display: flex;
        gap: 20px;
        padding-top: 20px;

    }
    
    .contact_btn_pc{
        font-weight: 500;
        background-color: var(--purple-color);
        border: none;
        padding: 10px 10px 10px 20px;
        border-radius: 7px ;
    }
    
    .contact_btn_pc path{
        fill: var(--main-text-color);
    }
    
    
    
    .search_bar{
        border-bottom: 1px solid var(--border-color);
    }
    
    .header_container{
        margin-left: 20px;
    }

    .contact_container li {
        padding-right: 10px;
    }
    
}

/******** entre 430 et 1200px *************/

@media (min-width: 430px) and (max-width: 1200px) {
    
    main{
        margin-left: 170px;
        
    }
    .header{
        margin-left: 150px;
        
    }
    .aside_container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }
    
    .aside_container img{
        width: 46px;
        height: 46px;
    }
    
    .langues_container p, .competences_container p{
        display: flex;    
    }
    
    .sidebar{
        height: 100%;
        width: 150px;
        position: fixed;
        top: 0;
        left: 0;
        background-color:var(--container-color);
        padding-top: 50px;
    }     
}


/******** sup à 1200px *************/

@media (min-width: 1200px) {
    
    main{
        margin-left: 200px;     
    }

    .header{
        margin-left: 180px;
    }
    
    .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .articles_container {
        width: 70%; 
    }
    
    .asides_container {
        width: 28%; 
        order: 2; 
    }
}